.manish {
  text-align: center;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product {
  width: 25%;
  padding: 30px;
  box-shadow: 0px 0px 10px black;
  margin: 10px;
}
.imgFake {
  width: 100px;
}
